<ion-content>

  <ion-img src="../../assets/logo_white.png"></ion-img>

  <ion-grid>
    <!-- Inputs -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input name="name" type="text" placeholder="Usuario"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-input name="password" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- B:ingresar -->
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button routerLink="/editor-view" shape="round" expand="full">
          <ion-icon name="log-in" slot="start"></ion-icon>
          INGRESAR
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- Bx2 -->
    <ion-row>
      <ion-col size="12">
        <hr>
      </ion-col>
      <ion-col size="6">
        <ion-button routerLink="/guest-view" shape="round" expand="full">
          <ion-icon name="walk"></ion-icon>
          INVITADO
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button routerLink="/registry" shape="round" expand="full">
          <ion-icon name="person-add"></ion-icon>
          REGISTRO
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>