<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      REGISTRARSE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- <ion-grid> -->
      <!-- <ion-row color="primary" > -->
        <!-- <ion-col align-self-center size-md="6" size-lg="5" size-xs="12"> -->
          <div text-center>
            <h3>Cree su cuenta como Editor</h3>
            <p>Tenga en cuenta que el administrador revisara su solicitud dentro de las 24 horas siguientes al envio de datos</p>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Nombre" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Sucorreo@Email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Confirmar Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">ENVIAR</ion-button>
          </div>
        <!-- </ion-col> -->
      <!-- </ion-row> -->
    <!-- </ion-grid> -->
  </form>
</ion-content>