<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>INVITADO</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>

</ion-header>

<ion-content>
  <!-- <ion-button (click)="checkGPSPermission()">
    Request GPS Accuracy
  </ion-button> -->
  
  <agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom">

  <agm-marker 
    [latitude]="lat" 
    [longitude]="lng">
  </agm-marker>
</agm-map>
</ion-content>

<ion-toolbar color="primary">
  <ion-buttons>
    <ion-menu-button color="secondary"></ion-menu-button>
  </ion-buttons>
  <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">INVITADO</ion-text>
      </ion-text>
  </ion-title>
</ion-toolbar>


