<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      PARKGIS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header translucent color="primary">
      <ion-card-title text-center > LOGIN </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div padding>
        <ion-item>
          <ion-input  name="name" type="text" placeholder="Nombre" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="email" type="password" placeholder="Contraseña" ngModel required></ion-input>
        </ion-item>
      </div>
        <ion-button size="large" expand="full" href="/editor">Ingresar</ion-button>
    </ion-card-content>
  </ion-card>
    <ion-button href="/registrar" expand="full">Registrese</ion-button>
    <ion-button href="/invitado" expand="full">Ingresar como Invitado</ion-button>
</ion-content>
