<ion-content>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="primary" size="small">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" size="small">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
 <agm-marker [latitude]="lat" [longitude]="lng">
    </agm-marker>
  </agm-map> -->

<!-- // botón Edición -->
<ion-fab vertical="bottom" horizontal="center" edge slot="fixed">

  <ion-fab-button color="tertiary" (click)="alertCreatePark()">
    <ion-icon name="add-circle"></ion-icon>
  </ion-fab-button>
   <!-- lista de botones (opcional) -->
  <!-- <ion-fab-list side="top">
    <ion-fab-button><ion-icon name="create"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="cube"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="trash"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="leaf"></ion-icon></ion-fab-button>
    </ion-fab-list>

  </ion-fab-list> -->
</ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-fab vertical="center" horizontal="start" edge>
      <ion-fab-button color="tertiary" size="small">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="center" horizontal="end" edge>
      <ion-fab-button color="tertiary" size="small">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-footer>